# haskell
.stack-work/
dist-newstyle/
cabal.project.local
.ghc.environment.*
dist
*.o
*.hi
*.jsexe
*.dyn*

# nix
result*

# emacs
*~

# darwin
.DS_Store

# misc
TAGS
tags
.direnv

# js
node_modules/
coverage/
tests/public
sample-app-native/public
sample-app-native/build

# typescript
*.js

# haddocks
haddocks/
/sample-app/public/
