# haskell
.stack-work/
dist-newstyle/
cabal.project.local
.ghc.environment.*
dist
*.o
*.hi
*.jsexe
*.dyn*

# nix
result*

# emacs
*~

# darwin
.DS_Store

# misc
TAGS
tags
.direnv

# js
package-lock.json
node_modules/
coverage/

# typescript
*.js

# haddocks
haddocks/