language: nix

os:
  - osx

matrix:
  fast_finish: true

before_install:
 - nix-channel --list
 - nix-channel --update
 - nix-env -iA cachix -f https://cachix.org/api/v1/install
 - sudo cachix use haskell-miso
 - nix-build -A pkgs.yarn default.nix && nix-env -i ./result

script:
 - nix-build
 - cd tests && yarn && yarn test
