name: Miso CI
on:
  push:
    branches:
      - master
  pull_request:

env:
  ACTIONS_ALLOW_UNSECURE_COMMANDS: true

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
     - uses: DeterminateSystems/nix-installer-action@main
     - uses: actions/checkout@v3.5.3
     - uses: cachix/install-nix-action@v25
       with:
         nix_path: nixpkgs=channel:nixpkgs-unstable
     - name: Cancel Previous Runs
       uses: styfle/cancel-workflow-action@0.9.1
       with:
         access_token: ${{ github.token }}
     - uses: cachix/cachix-action@v16
       with:
         name: haskell-miso-cachix
         authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'

     - name: Nix channel update
       run: nix-channel --update

     - name: Bun install
       run: nix-env -iA bun -f . && bun install

     - name: Miso.ts tests
       run: bun run test

     - name: Bun build prod
       run: bun run build && bun run prod

     - name: (JS) Miso GHCJS (GHCJS 8.6)
       run: nix-build -A miso-ghcjs

     - name: (JS) Miso GHCJS Production (GHCJS 8.6)
       run: nix-build -A miso-ghcjs-prod

     - name: (x86) Miso GHC (GHC 8.6.5)
       run: nix-build -A miso-ghc

     - name: (JS) Miso GHCJS (GHC 9.12.2)
       run: nix-build -A miso-ghcjs-9122

     - name: (x86) Miso GHC (GHC 9.12.2)
       run: nix-build -A miso-ghc-9122

     - name: (JS) Miso sample app (GHCJS 8.6)
       run: nix-build -A sample-app-js

     - name: (x86) Miso sample app jsaddle (GHC 8.6.5)
       run: nix-build -A sample-app

     - name: (x86) Example.hs (MicroHS 0.12.4.0)
       run: cd micro/ && nix-shell --run 'mhs -temscripten Example -oout.js && qjs out.js'

     - name: (JS) Example.hs (MicroHS 0.12.4.0)
       run: cd micro/ && nix-shell --run 'mhs -r Example'
