name: test matrix
on:
  push:
  pull_request:
jobs:
  build:
    runs-on: ${{ matrix.os }}
    env:
      ACTIONS_ALLOW_UNSECURE_COMMANDS: true
    strategy:
      matrix:
        os: [macos-latest, ubuntu-latest]
        include:
        - os: macos-latest
          TARGET: x86_64-apple-darwin
          COMPILER: clang
          LINKER: clang
        - os: ubuntu-latest
          TARGET: x86_64-unknown-linux-musl
          COMPILER: gcc
          LINKER: gcc
    steps:
     - run: echo ${{matrix.TARGET}}
     - uses: actions/checkout@v2.3.1
     - uses: cachix/install-nix-action@v10
     - uses: cachix/cachix-action@v6
       with:
         name: miso-haskell
         signingKey: '${{ secrets.CACHIX_SIGNING_KEY }}'
     - run: echo ${{matrix.os}}
     - run: nix-build -A pkgs.yarn default.nix && nix-env -i ./result
     - run: nix-build
     - run: cd tests && yarn && yarn test
