name: test matrix
on:
  push:
    branches:
      - master
  pull_request:

env:
  ACTIONS_ALLOW_UNSECURE_COMMANDS: true

jobs:
  build:
    runs-on: ubuntu-latest
    if: github.ref != 'refs/heads/master'
    steps:
     - uses: actions/checkout@v3.5.3
     - uses: cachix/install-nix-action@v22
       with:
         nix_path: nixpkgs=channel:nixos-unstable
     - name: Cancel Previous Runs
       uses: styfle/cancel-workflow-action@0.9.1
       with:
         access_token: ${{ github.token }}
     - uses: cachix/cachix-action@v12
       with:
         name: miso-haskell
         signingKey: '${{ secrets.CACHIX_SIGNING_KEY }}'
     - name: Dependency install
       run: nix-build -A pkgs.yarn default.nix && nix-env -i ./result
     - name: Miso build
       run: nix-build -j1
     - name: Diffing tests
       run: cd tests && yarn && yarn test

  deploy:
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/master'
    steps:
     - uses: actions/checkout@v3.5.3
     - uses: cachix/install-nix-action@v22
       with:
         nix_path: nixpkgs=channel:nixos-unstable
     - uses: cachix/cachix-action@v12
       with:
         name: miso-haskell
         signingKey: '${{ secrets.CACHIX_SIGNING_KEY }}'
     - name: Miso build
       run: nix-build -j1
     - name: Deploy
       run: nix-build -A deploy -j1 && ./result
       env:
         AWS_SECRET_ACCESS_KEY: '${{ secrets.AWS_SECRET_ACCESS_KEY }}'
         AWS_ACCESS_KEY_ID: '${{ secrets.AWS_ACCESS_KEY_ID }}'
         DEPLOY: '${{ secrets.DEPLOY }}'
         EMAIL: '${{ secrets.EMAIL }}'
